*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}
div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
button{
    padding: 15px 20px;
    background: #ab13c9a1;
    color: white;
    border: 2px solid #ecf0f1;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
